/* 시작 프리텐다드 */
@font-face {
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("※"),
        url("../fonts/Pretendard-Regular.woff2") format("font-woff2"),
        url("../fonts/Pretendard-Regular.woff") format("woff"),
        url("../fonts/Pretendard-Regular.otf") format("opentype");
}

@font-face {
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local("※"),
        url("../fonts/Pretendard-Medium.woff2") format("font-woff2"),
        url("../fonts/Pretendard-Medium.woff") format("woff"),
        url("../fonts/Pretendard-Medium.otf") format("opentype");
}

@font-face {
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local("※"),
        url("../fonts/Pretendard-Bold.woff2") format("font-woff2"),
        url("../fonts/Pretendard-Bold.woff") format("woff"),
        url("../fonts/Pretendard-Bold.otf") format("opentype");
}

@font-face {
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: local("※"),
        url("../fonts/Pretendard-ExtraBold.woff2") format("font-woff2"),
        url("../fonts/Pretendard-ExtraBold.woff") format("woff"),
        url("../fonts/Pretendard-ExtraBold.otf") format("opentype");
}

@font-face {
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: local("※"),
        url("../fonts/Pretendard-Black.woff2") format("font-woff2"),
        url("../fonts/Pretendard-Black.woff") format("woff"),
        url("../fonts/Pretendard-Black.otf") format("opentype");
}
/* 끝 프리텐다드 */
/* 시작 Montserrat */
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local("※"),
        url("../fonts/Montserrat-Regular.ttf"),
        url("../fonts/Montserrat-Regular.otf") format("opentype");
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local("※"),
        url("../fonts/Montserrat-Bold.ttf"),
        url("../fonts/Montserrat-Bold.otf") format("opentype");
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: local("※"),
        url("../fonts/Montserrat-ExtraBold.ttf"),
        url("../fonts/Montserrat-ExtraBold.otf") format("opentype");
}
/* 끝 Montserrat */