/* 시작 기본 세팅 */
.inner {max-width: calc(1280px - 128px); margin: 0 auto; width: calc(100% - 65px);}

.drag_swipe {display: block;position: absolute;right: 58px;top: 160px;width: 120px;z-index: 99;transform: translate(50%, -100px);}
.drag_swipe [class *= "swipe_img"]{display: block;position:absolute;bottom:0;z-index:2;right:10%;width:150px;transition: bottom 1s;}
.drag_swipe .swipe_img2{animation: scroll 2s ease-out infinite;right: 9%;}

@keyframes scroll {
    0% { transform:translateX(0px); }
    60% { transform:translateX(-20px);}
    95% { transform:translateX(-20px);}
    100% { transform:translateX(0px); }
}
/* 끝 기본 세팅 */

/* 시작 프로젝트 기본 세팅 */
*::selection {background-color: var(--bg-red); color: #fff;}

.btn {font-size: 1em;border-radius: 90px;font-weight: 700;padding: 0 30px;display: flex;align-items: center;justify-content: center;min-height: 56px;}
.btn.white_bg {background-color: #fff; color: var(--color-black); border: none;}
.btn.black_bg {background-color: var(--color-black); color: #fff; border: none;}
.btn.bd {border: 1px solid #d0d3d8; background-color: #fff;}
/* 끝 프로젝트 기본 세팅 */

/* 시작 header */
.header {height: 80px;background-color: #fff;border-bottom: 1px solid #e5e7ec;transition: all .5s ease-out;align-items: center;display: flex; position: sticky; top: 0; z-index: 999;}
.header_bg {width: 100%;height: 250px;position: absolute;top: 80px;background-color: #fff;z-index: 9;box-shadow: 0 0 2px 0 #d3e0ed, 0 10px 15px 0 rgba(27, 29, 31, 0.05), 0 0 1px 0 rgba(27, 29, 31, 0.25); display: none;}
.header .inner {display: flex;align-items: center;justify-content: space-between;position: relative;z-index: 10;}

.header .logo {max-width: 128px;}
.header .logo a {display: inline-block;}

.header .gnb > ul {display: flex; flex: 1 0 0;}
.header .gnb .menu_item {position: relative;height: 100%;min-height: 70px;display: flex;align-items: center;justify-content: flex-start;}
.header .gnb .menu_item .depth2 a {width: 100%;display: inline-block;min-height: 35px;display: flex;align-items: center;color: #444;font-weight: 400;}
.header .gnb .menu_item .depth2 a:hover {text-decoration: underline;font-weight: 700;}
.header .gnb .depth1 {font-size: 1.2em;font-weight: 700;padding: 25px 45px;}
.header .gnb .depth2 {display: none;position: absolute;width: 100%;left: 35px;top: 100%;padding: 15px 10px;}

.header .right {display: flex;align-items: center;gap: 10px;}
.header .util {display: flex;}
.header .util .item a {color:#444;font-size: .9em;position: relative;display: flex;align-items: center;font-weight: 400;}
.header .util .item a:hover{text-decoration: underline; font-weight: 600}
.header .util .item a:after {content: "";display: inline-block;width: 3px;height: 3px;margin: 0 8px;background: rgba(26, 26, 26, 0.4);-webkit-border-radius: 50%;border-radius: 50%;}
.header .util .item:last-child a:after {display: none;}

/* 시작 header ham menu */
.header .ham_menu_wrap .menu_btn {display: flex;flex-direction: column;gap: 6px;width: 50px;height: 50px;align-items: center;justify-content: center;z-index: 1000;position: relative;}
.header .ham_menu_wrap .menu_btn span {width: 23px;height: 2px;background-color: #000;display: inline-block; transition: .5s}
.header .ham_menu_wrap .ham_menu {position: fixed;top: 0;left: 9999px;width: 100%;height: 100vh;background-color: #fff;z-index: 999;transition: opacity .5s;opacity: 0; visibility: hidden;}
.header .ham_menu_wrap .ham_menu .inner {width: 60%;max-width: 1280px;display: flex;flex-direction: column;padding-top: 80px;overflow-y: auto;height: 100%;}
.header .ham_menu_wrap .ham_menu .inner::-webkit-scrollbar {display: none;}
.header .ham_menu_wrap .ham_menu .group {width: 100%;padding-bottom: 20px;}
.header .ham_menu_wrap .ham_menu .group .depth1 {font-size: 1.5em;transition: .3s all;color: #000;padding: 20px 0;}
.header .ham_menu_wrap .ham_menu .group .depth1:hover {color: var(--color-red);}
.header .ham_menu_wrap .ham_menu .group .depth2_wrap {display: grid;grid-template-columns: repeat(6, 1fr);}
.header .ham_menu_wrap .ham_menu .group .depth2 {padding: 10px}
.header .ham_menu_wrap .ham_menu .group .depth2_item > a:hover {color: var(--color-red);}
.header .ham_menu_wrap .ham_menu .group .depth3 {margin-top: 20px}
.header .ham_menu_wrap .ham_menu .group .depth3_item > a:hover {color: var(--color-red);}
.header .ham_menu_wrap .ham_menu .group .depth3_item > a {position: relative;padding-left: 15px;display: flex;align-items: center;min-height: 30px;color: #666;font-size: .9em;}
.header .ham_menu_wrap .ham_menu .group .depth3_item > a:before {content: '- ';position: absolute;left: 0;}
.header .ham_menu_wrap .ham_menu .group + .group {border-top: 1px solid #ddd;padding-top: 20px;}

.header .ham_menu_wrap.active .menu_btn span {position: absolute}
.header .ham_menu_wrap.active .menu_btn span.top {transform: rotate(45deg);}
.header .ham_menu_wrap.active .menu_btn span.middle {opacity: 0;}
.header .ham_menu_wrap.active .menu_btn span.bottom {transform: rotate(-45deg);}
.header .ham_menu_wrap.active .ham_menu {left: 0;opacity: 1; visibility: visible;}
/* 끝 header ham menu */

/* 끝 header */

/* 시작 footer */
.footer {background-color: #202022; color: #fff; word-break: keep-all;}
.footer .inner {padding: 50px 15px;}

.footer .top {display: flex; align-items: center; justify-content: space-between; border-bottom: 1px solid #383839; padding-bottom: 20px; margin-bottom: 20px;}
.footer .top .logo {filter: grayscale(1) brightness(1000%); max-width: 170px;}
.footer .top .familysite {border: 1px solid #c7c7c7;border-radius: 999px;color: #c7c7c7;display: flex;align-items: center;justify-content: flex-start;position: relative; width: 230px;}
.footer .top .familysite.active {border-radius: 0 0 24px 24px; }
.footer .top .familysite .family_open {width: 100%; height: 100%; display: flex; padding: 5px 20px; width: 100%;height: 45px; align-items: center; justify-content: space-between;}
.footer .top .familysite .family_open .drop_down {filter: grayscale(1) brightness(1000%);}
.footer .top .family_layer {display: none;background-color: #fff;border: 1px solid #000;display: none;flex-direction: column;position: absolute;width: 230px;transition: bottom .5s, opacity .5s;left: 0;padding: 10px 0;border-radius: 24px 24px 0 0;margin: 0;box-sizing: border-box; bottom: 100%}
.footer .top .familysite.active .family_layer {opacity: 1;bottom: 100%;height: auto;}
.footer .top .family_layer li {width: 100%;}
.footer .top .family_layer li a {min-height: 30px;color: var(--color-black);width: 100%;display: flex;font-size: .9em;padding: 2px 20px;align-items: center;}

.footer .bottom {display: grid;justify-content: space-between;grid-template-columns: 1fr 370px;gap: 20px;}
.footer .bottom .left .link {display: flex;gap: 10px 20px;align-items: center;position: relative;font-size: .85em;margin-bottom: 20px;flex-wrap: wrap;}
.footer .bottom .left .link a {position: relative;}
.footer .bottom .left .link a:after {content: ''; width: 2px; height: 15px;background-color: rgba(255,255,255,0.2); position: absolute; right: -11px; top: 50%; transform: translate(0, -50%);}
.footer .bottom .left .link a:last-child:after {display: none;}

.footer .bottom .left .info {font-size: .75em;display: flex;flex-direction: column;}

.footer .bottom .right {display: flex;gap: 10px;justify-content: flex-end;}
.footer .bottom .right .mark {width: 60px;}
.footer .bottom .right .mark:nth-child(2) {width: 45px;}
.footer .bottom .right .txt {font-size: .75em;}
/* 끝 footer */

.top_btn {position: fixed; bottom: 20px; right: 20px; background-color: #ffffffaf; border-radius: 80%; display: flex; z-index: 998; align-items: center; justify-content: center; width: 60px; height: 60px; box-shadow: rgba(0,0,0,0.3) 1px 1px 9px; -webkit-box-shadow: rgba(0,0,0,0.3) 1px 1px 9px; overflow: hidden; transition: opacity .5s;}
.top_btn:hover {transform: rotate(360deg);}
.top_btn button {display: flex; flex-direction: column; gap: 5px; width: 100%; height: 100%; align-items: center; justify-content: center;}
.top_btn button img {margin: 0 auto; transform: rotate(180deg);}
.top_btn button span {font-size: .9em;}

/* 시작 서브 common */
.bnkH1 {font-size: 1.9em; width: 100%; text-align: center; display: inline-block; margin-bottom: 50px; font-weight: 600;}
.bnkH2 {font-size: 1.5em; width: 100%; text-align: center; display: inline-block; margin-bottom: 50px; color: #896e4a; font-weight: 400;}

.table_wrap {border-top: 1px solid #000;}
.table_wrap tr {font-size: 1.1em; }
.table_wrap tbody tr th {text-align: center; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; }
.table_wrap tbody tr th .table_div {justify-content: center;}
.table_wrap tbody tr th + td {border-left: 1px solid #ddd;}
.table_wrap tbody tr td + td {border-left: 1px solid #ddd;}
.table_wrap tbody tr td {border-top: 1px solid #ddd; border-bottom: 1px solid #ddd;}
.table_wrap .table_div {min-height: 45px; padding: 5px 10px; font-weight: 400; display: flex; align-items: center;}
/* 끝 서브 common */
/* 시작 반응형 */
@media (max-width: 1200px) {
    .inner {width: calc(100% - 60px);}
    .btn {min-height: 43px;padding: 0 25px;}

    .header .ham_menu_wrap .ham_menu .inner {width: 85%;padding-top: 60px;}
    .header .ham_menu_wrap .ham_menu .group .depth2_wrap {grid-template-columns: repeat(4, 1fr);}
    .footer .bottom {grid-template-columns: 1fr 280px;}

    .top_btn {width: 50px; height: 50px;}
    .top_btn button span {font-size: .8em;}

}
@media (max-width: 800px) {
    :root {
        --tm-html: 14px;
    }
    .inner {width: calc(100% - 50px);}

    .header .ham_menu_wrap .ham_menu .group .depth2_wrap {grid-template-columns: repeat(3, 1fr);}
    .header .ham_menu_wrap .ham_menu .group .depth3_item > a {font-size: .85em}

    .footer .inner {padding: 30px 0;}
    .footer .top .logo {max-width: 130px;}
    .footer .top .familysite {width: 180px;}
    .footer .top .familysite .family_open {height: 40px;}
    .footer .top .family_layer {width: 180px;}
    .footer .bottom {flex-direction: column; display: flex;}
    .footer .bottom .left .link {justify-content: center;}
    .footer .bottom .left .info {text-align: center;}
    .footer .bottom .right {justify-content: center;}
}
@media (max-width: 500px) {
    .header .ham_menu_wrap .ham_menu .group .depth2_wrap {grid-template-columns: repeat(2, 1fr);}
    
    .footer .top {flex-direction: column;gap: 20px;}
    .footer .top .familysite {width: 100%;}
    .footer .top .family_layer {width: 100%;}

    /* .footer .bottom .right {display: grid; grid-template-columns: 1fr 1fr;} */
}
/* 끝 반응형 */